<!DOCTYPE html>
<html>
<head>
  <title>NPM Dependencies</title>
  <link rel='stylesheet' href='https://cdn.rawgit.com/JosephusPaye/Keen-UI/3b8f2d06/dist/keen-ui.min.css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css">
  <script src='https://unpkg.com/vue'></script>
  <script src='https://unpkg.com/axios/dist/axios.min.js'></script>
  <script src='https://cdn.rawgit.com/JosephusPaye/Keen-UI/3b8f2d06/dist/keen-ui.min.js'></script>
</head>
<body>
  <div id='app' class='section'>
      <div class='container'>
        <h1 class="title">NPM Dependencies listing</h1>
        <ui-alert type='error' v-if=error @dismiss='() => {error = null;}' >{{ error }}</ui-alert>
        <ui-alert type='warning' v-if=warning>{{ warning }}</ui-alert>
        <form @submit.prevent=submitForm()>
          <ui-autocomplete
            :suggestions=packages
            placeholder='Enter package and version in package.json format, e.g. express@4.0.0'
            v-model='selectedPackage'
            :show-on-up-down=false
            @input=loadPackages()>
          </ui-autocomplete>
          <button class="button is-primary" :class="{'is-loading': isLoading}">Show Dependencies</button>
        </form>
        <div class="section menu">
          <ul class='menu-list'>
            <item v-if=packageInfo
              class='item'
              :model='packageInfo'>
            </item>
          </ul>
        </div>
      </div>
  </div>

  <script type='text/javascript' src='./item.js'></script>
  <script type='text/javascript' src='./vueapp.js'></script>

</body>
</html>
